@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat";
    min-height: 100vh;
    background-color: #111111;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
